@use './abstracts/reset';
@use './abstracts/variables' as *;



html {

    @media(min-width: $breakpoint-40){
        font-size: 1.25em;
    }
    @media(min-width: $breakpoint){
        font-size: 1.5em;
    }
    

    
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 30px $clr-neutral-600 inset !important;
    }
  
}


body {
    background-color: $clr-neutral-600;
   
}
